.form h2 {
    text-align: center;
}

.form-gr label {
    display: block;
    padding-top: 10px;
}

.form-gr-inputs .form-gr{
    display: inline-block;
    width: 49%;
}

.form-gr textarea,
.form-gr input {
    width: 97%;
    box-sizing: border-box;
    border: none;
    border-bottom: 1px solid black;
    color: black;
    outline: none;
    padding: 10px 0px 1px 0px;
    font-family: inherit;
}

